{:paths   ["src"]
 :deps    {potemkin/potemkin            {:mvn/version "0.4.6"}
           generateme/fastmath          {:mvn/version "2.2.1"
                                         :exclusions [com.github.haifengl/smile-mkl
                                                      org.slf4j/slf4j-api]}

           io.lacuna/bifurcan           {:mvn/version "0.2.0-alpha6"}
           org.flatland/ordered         {:mvn/version "1.15.11"}
           com.github.jordanlewis/data.union-find {:git/url "https://github.com/jordanlewis/data.union-find"
                                                   :git/tag "1.0.0"
                                                   :git/sha "0e8a06f"}
           pangloss/pure-conditioning {:git/url "https://github.com/pangloss/pure-conditioning"
                                       :git/sha "61fa43215e0fce0fe83808b9e30c2bb4c170ffbd"}

           pangloss/transducers {:git/url "https://github.com/pangloss/transducers"
                                 :git/sha "64a02cf63e17cda86d80f39a4e2df8715a2604c6"}

           com.phronemophobic/membrane {:mvn/version "0.9.31.8-beta"}
           com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.9.31.0-beta"}
           com.phronemophobic.membrane/skialib-macosx-x86-64 {:mvn/version "0.9.31.0-beta"}
           com.phronemophobic.membrane/skialib-linux-x86-64 {:mvn/version "0.9.31.0-beta"}}
 :aliases {:test     {:extra-paths ["test"]
                      :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
                      :extra-deps  {aysylu/loom {:mvn/version "1.0.2"}}}
           :dev      {:extra-paths ["dev"]}
           :dev/dw   {:extra-deps
                      {fipp/fipp {:mvn/version "0.6.26"}
                       zprint/zprint {:mvn/version "1.2.7"}
                       com.github.jpmonettas/flow-storm-debugger
                       {:git/url "https://github.com/jpmonettas/flow-storm-debugger"
                        :git/sha "a2c5f209e9e9ded17bbf259f57414cc73a94c8c2"}
                       pangloss/transducers {:local/root "../../dev/transducers"}}}}}
