{:paths   ["src"]
 :deps    {org.clojure/clojure          {:mvn/version "1.10.3"}
           potemkin/potemkin            {:mvn/version "0.4.5"}
           generateme/fastmath          {:mvn/version "2.1.8" :exclusions [com.github.haifengl/smile-mkl]}
           io.lacuna/bifurcan           {:mvn/version "0.2.0-alpha4"}
           org.flatland/ordered         {:mvn/version "1.5.9"}
           com.xn--lgc/pure-conditioning {:git/url "https://github.com/pangloss/pure-conditioning"
                                          :sha "f605800bcbdf80a408c60d8e60bb6cd8222f17c6"}
           net.mikera/core.matrix {:mvn/version "0.62.0"}
           net.mikera/vectorz-clj {:mvn/version "0.48.0"}
           com.untetherai/ugf {:local/root "../../uai/ugf/clj"}}
 :aliases {:test     {:extra-paths ["test"]
                      :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
                      :extra-deps  {aysylu/loom {:mvn/version "1.0.2"}}}}}
